/* --------------------------------- INDEX ---------------------------------- */
/* ----------------------------- BASE STYLES -------------------------------- */
body, html {
  height: 100%;
  /* keeps sections stacked, swiper disappears otherwise */ }

body {
  position: relative; }

.invertColor:hover {
  color: blue; }

/*optional setting */
/* .ticketButton, .navLink (large screens), .sm-icons (small screens)*/
/* #menu, .navLink (small screens), .smi-icons (large screens) */
/* .slideTextBox.date (mobile only), .lineUpProgram */
/* p, li */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", Arial, sans-serif;
  color: #000;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 700; }

p, li, a {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.875rem;
  color: #000;
  margin-bottom: 0; }

.underline {
  text-decoration: underline; }

a {
  font-family: "Roboto", Arial, sans-serif;
  color: #ff0099;
  cursor: pointer;
  font-weight: bold; }

a:hover {
  color: #ffcc00;
  text-decoration: none; }

.fa-circle {
  font-size: 14px; }

hr {
  border-top: 2px solid black;
  /* needs 0 margin because flexbox */
  margin-left: 0;
  margin-right: 0; }

.indentMe {
  margin-left: 2.5em; }

/* margin for pages without navbar, small screens */
/* margin for pages with navbar, large screens */
::-webkit-scrollbar {
  display: block;
  -webkit-appearance: none;
  width: 0.875rem;
  /* harmoniously matches font-size */
  border-left: 2px solid black; }

::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 2px solid black; }

.shadowMe {
  -webkit-box-shadow: 6px 6px 0px -2px black;
  -moz-box-shadow: 6px 6px 0px -2px black;
  box-shadow: 6px 6px 0px -2px black;
  transition: all 0.3s ease-in-out; }

.shadowMe:hover {
  -webkit-box-shadow: 0px 0px 0px -4px black;
  -moz-box-shadow: 0px 0px 0px -4px black;
  box-shadow: 0px 0px 0px -4px black;
  transform: translateX(2px) translateY(2px); }

/* For elements that are not buttons but need shadows */
.shadowMeOnly {
  -webkit-box-shadow: 6px 6px 0px -2px black;
  -moz-box-shadow: 6px 6px 0px -2px black;
  box-shadow: 6px 6px 0px -2px black;
  transition: all 0.3s ease-in-out; }

/* ------  an invisible line used for keeping space between hr and h1-h6
consistent ------ */
.text-spacer {
  border-top: none;
  margin-top: 0; }

.vimeoVideo {
  width: 100%; }

/* ------ section colors ------ */
#scheduleSection, #mediaSection {
  background-color: #ffcc00; }

#applySection {
  background-color: #00d0ff; }

#ticketsSection {
  background-color: #00dd73; }

#faqSection, #sponsorSection {
  background-color: #fff; }

#line-upSection {
  background-color: #ff0099; }

#staffSection {
  background-color: #0028bc; }

/* ------ section layout/styles ------ */
#scheduleSection,
#line-upSection,
#ticketsSection,
#applySection,
#mediaSection,
#faqSection,
#sponsorSection,
#staffSection {
  border-top: 2px solid black; }

/* responsive Vimeo styles */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.embed-responsive-16by9::before {
  padding-top: 0;
  /*fixes default spacing issue*/ }

/* padding for homeSection otherwise leaves white border
around background color, in other words needs to be edge to edge
*/
#homeSection {
  margin-left: 0;
  /* ------ 65px = height of mobile menu ------ */
  height: calc(100vh - 65px); }

.sectionBody {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  margin: 1em 2em 0;
  padding-bottom: 30px; }

.sectionHeader {
  text-align: left; }

/* ------ mostly for line-up columns to help align with section body padding and hr's
------*/
div.row {
  margin: 0; }

/* ------ News Flash Text Crawl ------ */
#marquee {
  display: none; }

.blue {
  color: #00d0ff; }

.pink {
  color: #ff0099; }

.green {
  color: #00dd73; }

.yellow {
  color: #ffcc00; }

.hover-blue:hover {
  color: #00d0ff; }

/* ----------------------------- SMALL SCREENS ------------------------------ */
/*
##########################################################
#################### NAVIGATION ##########################
##########################################################
*/
#menuButton {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  display: block;
  position: fixed;
  background: #fff;
  bottom: 0;
  height: 65px;
  z-index: 400;
  border-top: 2px solid black;
  text-align: center;
  padding: 10px; }

#menuText {
  padding: 0 0 2px 5px;
  color: #000;
  vertical-align: middle; }

#menuText:hover {
  color: #00d0ff; }

#menuIcon {
  color: #000;
  font-size: 18px; }

.menuLight {
  color: #ffcc00; }

nav,
nav.smallScreen {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: calc(100% - 65px);
  top: 0;
  bottom: 65px;
  padding: 1rem;
  z-index: 300;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8); }

nav {
  display: none; }

.navLink {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 45%;
  margin: .5rem;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #fff; }

.navLogo {
  display: none;
  /* ------ only visible on larger screens ------ */ }

.navDate {
  display: none; }

div.sm-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.sm-icon {
  font-size: 1.875rem;
  width: auto;
  color: #fff;
  display: inline-block;
  padding: 10px; }

.navLink:hover,
.sm-icons:hover,
.navLink.active:hover {
  color: #ffcc00; }

.navLink.active {
  color: #ffcc00;
  border-color: #ffcc00; }

/* 3 column layout flex */
.innerFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .innerFlex .flexItem {
    margin: 10px 0;
    background-color: #fff;
    border: 2px solid black;
    padding: 20px;
    text-align: center; }

/*
##########################################################
##################### HOME SECTION #######################
##########################################################
*/
#homeLogo {
  width: 100%;
  position: relative;
  top: 33%;
  margin: auto;
  padding: 4rem; }

#logoColor {
  background-color: #ff0099; }

/* ------ SWIPER Styles ------ */
.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

div.swiper-button-next {
  background-image: url("/images/next_white.svg"); }

div.swiper-button-prev {
  background-image: url("/images/prev_white.svg"); }

.slideTextBox {
  color: #fff;
  right: 20px;
  padding: 5px;
  bottom: 80px;
  position: absolute;
  width: 100%;
  min-height: 1.5rem;
  max-height: 3rem; }

.slideTextBox.date {
  font-size: 1.125rem;
  text-align: center;
  left: 0;
  /* reset */
  z-index: 300;
  bottom: 110px; }

.swiper-pagination {
  margin-bottom: 10px; }

span.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: #00dd73; }

/* swiper photo caption colors */
.A {
  background-color: #ffcc00;
  /* Fallback */
  background-color: rgba(255, 204, 0, 0.5); }

.B {
  background-color: #00d0ff;
  /* Fallback */
  background-color: rgba(0, 208, 255, 0.5); }

.C {
  background-color: #ff0099;
  /* Fallback */
  background-color: rgba(255, 0, 153, 0.5); }

/*
##########################################################
################### SCHEDULE SECTION #####################
##########################################################
*/
.classCard a {
  border-radius: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: .5em;
  background-color: #fff;
  color: #000;
  border: 2px solid black; }
  .classCard a span {
    font-size: 0.875rem; }

.cardRow .col {
  padding: 0; }

.card-body {
  border: 2px solid black;
  border-radius: 0;
  border-top: none; }

.btn-primary:hover {
  color: #ff0099;
  background-color: #00d0ff; }

.btn-primary:hover {
  color: #fff;
  background-color: #00d0ff;
  border-color: #000; }

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus,
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none;
  border-color: #ff0099; }

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #00d0ff;
  border: 2px solid black; }

.scheduleVid {
  margin-bottom: 0; }

/*
##########################################################
################### LINE-UP SECTION ######################
##########################################################
*/
.infoBox {
  text-align: center;
  margin: auto 0; }

.artistCo {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase; }

.artistCo a {
  color: #000; }

.artistCo a:hover {
  color: #00d0ff; }

.lineUpProgram {
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase; }

/*coming soon div*/
.lineUpCS {
  text-align: center;
  position: relative;
  top: 50%;
  min-height: 300px;
  width: 100%; }

/*
##########################################################
################### TICKET SECTION #######################
##########################################################
*/
#ticketsSection .sectionBody p {
  text-align: center; }

.ticketButton {
  width: 100%;
  display: table;
  font-size: 1.875rem;
  text-align: center;
  line-height: 1;
  background-color: #00d0ff;
  border: 20px dotted #ffcc00;
  text-transform: uppercase;
  padding: 0; }

.ticketClick {
  font-family: "Roboto", Arial, sans-serif;
  display: table-cell;
  vertical-align: middle;
  background-color: #fff;
  font-size: 2rem;
  height: 100%;
  padding: 40px; }

.ticketButton:hover {
  background-color: #ff0099; }

.ticketButton,
.ticketInfo,
.ticketContact {
  margin: 0 auto 20px; }

.ticketInfo {
  width: 100%;
  background-color: #fff;
  border: 2px solid black;
  padding: 10px 40px; }

.ticketInfo ul {
  padding: 0;
  margin: 0; }

/*
##########################################################
#################### APPLY SECTION #######################
##########################################################
*/
#applySection .sectionBody {
  flex-direction: column;
  text-align: center;
  justify-content: space-around; }

.applyLink {
  text-transform: uppercase;
  width: 100%;
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #ff0099;
  font-size: 1.8rem;
  margin: 10px auto;
  text-align: center;
  line-height: 1; }

.applyLink:hover {
  border-color: #ffcc00;
  color: #ffcc00; }

.applyBubble, .applyLink:hover .applyBubble {
  display: none; }

/*
##########################################################
#################### MEDIA SECTION #######################
##########################################################
*/
#mediaSection h4 {
  margin: 0 auto 1rem auto; }

.mediaVideoDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline; }

.artistVid {
  margin-bottom: 2.5rem; }

.archiveLink {
  margin: 0 auto 5px 0;
  float: left; }

/*
##########################################################
###################### FAQ SECTION #######################
##########################################################
*/
#faqSection .col-lg-6 {
  padding: 0; }

/*
##########################################################
################### SPONSOR SECTION ######################
##########################################################
*/
.sponsorFlex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; }
  .sponsorFlex a {
    max-width: 18em;
    margin-bottom: 2em; }

.sponsorP {
  text-align: justify;
  position: relative; }

.sponsorImg {
  width: 100%; }

/*
##########################################################
##################### STAFF SECTION ######################
##########################################################
*/
#staffSection p,
#staffSection a {
  font-size: 0.875rem;
  line-height: 1.125rem; }

#staffSection p,
#staffSection h2,
#staffSection h6 {
  color: #fff; }

#staffSection hr {
  border-color: #fff; }

#staffSection a {
  color: #ffcc00;
  display: inline;
  transition: all 0.3s ease-in-out;
  margin-bottom: 0;
  width: 0; }

#staffSection a:hover {
  color: #ff0099;
  transition: all 0.3s ease-in-out; }

/*
##########################################################
######################## FOOTER ##########################
##########################################################
*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 0;
  width: 100%;
  margin-bottom: 70px;
  /* height of menu plus some extra room*/
  border-top: 2px solid black; }

.footThing {
  text-align: center;
  width: 100%;
  line-height: 1.5; }

/*
##########################################################
##################### APPLY PAGES ########################
##########################################################
*/
section.applyPage {
  margin: 1em 2em 0; }

span.oi {
  color: #000; }

a.backSite {
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block; }

img#applyLogo {
  width: 40%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.applyTitle {
  text-align: center;
  text-decoration: underline; }

/*
##########################################################
#################### ARCHIVE PAGES #######################
##########################################################
*/
.archiveBody {
  margin: 1em 2em 0;
  min-height: 100%; }

.archiveHeader {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; }
  .archiveHeader .vimeoVideo {
    flex-grow: 2;
    margin: 0; }

.archive-line-up .innerFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.archivePoster {
  flex-grow: 1; }
  .archivePoster img {
    max-height: 35em; }

/*
###############################################################################
############################ LARGER SCREENS ###################################
###############################################################################
*/
@media (min-width: 829px) and (min-height: 450px) {
  /*
	##########################################################
	#################### BASE STYLES #########################
	##########################################################
	*/
  /* ------ hide mobile navigation menu ------ */
  #menuButton {
    display: none; }
  .innerFlex {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap; }
    .innerFlex .flexItem {
      display: inline-flex;
      flex-direction: column;
      width: 32%;
      height: 100%;
      /* keeps height up line-up column to match size of content */ }
  /* ------ News Flash Text Crawl ------ */
  @keyframes pull-from-left {
    from {
      padding-left: 100%; }
    to {
      padding-left: 0; } }
  @keyframes push-from-right {
    from {
      transform: translateX(0%); }
    to {
      transform: translateX(-100%); } }
  #marquee {
    display: block;
    position: fixed;
    left: 200px;
    overflow: hidden;
    z-index: 2000;
    height: 24px;
    width: calc(100% - 200px);
    text-transform: uppercase;
    background: #000; }
    #marquee #newsContainer {
      display: flex;
      align-items: center;
      height: 100%;
      -webkit-animation: pull-from-left 52s linear infinite; }
      #marquee #newsContainer p {
        color: #fff;
        display: inline-block;
        white-space: nowrap;
        -webkit-animation: push-from-right 52s linear infinite; }
      #marquee #newsContainer p:hover,
      #marquee #newsContainer #newsContainer:hover {
        -webkit-animation-play-state: paused; }
  /* ------ accomodate left navigation bar ------ */
  .main-section {
    margin-left: 200px; }
  /* ------ more space ------ */
  .sectionBody {
    margin: 1.5rem 3rem 0; }
  .footer {
    margin-bottom: 15px; }
  /*
	##########################################################
	#################### NAVIGATION ##########################
	##########################################################
	*/
  .navWrap {
    height: 50vh;
    padding: 5px; }
  img.navLogo {
    display: block;
    width: 90%;
    margin: 10px 5px 0 10px; }
  .navDate {
    display: inline-block;
    width: 100%;
    margin: 0 10px 10px 10px;
    /* same as navLink padding */
    font-weight: bold;
    font-size: 1.125rem; }
  nav {
    position: fixed;
    width: 200px;
    height: 100%;
    z-index: 3000;
    background-color: #fff;
    border-right: 2px solid black; }
  .navLink {
    font-size: 1.875rem;
    color: #000;
    width: 100%;
    height: 50px;
    margin: 0;
    text-align: left;
    border: none;
    padding: 0 0 10px 10px;
    text-transform: uppercase;
    line-height: 1; }
  .slideTextBox.date {
    font-size: 3rem;
    font-weight: 700;
    width: 100%; }
  .smicons.container {
    display: inline-block;
    padding: 0 10px; }
  .sm-icon {
    color: #000;
    float: left;
    font-size: 1.5rem; }
  .navLink:hover, .sm-icons:hover {
    text-decoration: none;
    color: #ffcc00; }
  .navLink.active {
    color: #ff0099;
    border: none; }
  /*
	##########################################################
	##################### HOME SECTION #######################
	##########################################################
	*/
  #homeLogo {
    top: 16%;
    margin: 0 auto; }
  #homeSection {
    height: 100vh; }
  .vimeoVideo {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto; }
  /*
	##########################################################
	################## SCHEDULE SECTION ######################
	##########################################################
	*/
  .classCard a span {
    font-size: 1.3vw; }
  .cardSet {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: calc(100% - 4.3em);
    /* eyeballed to match indentMe */
    margin: 0 auto; }
  .cardWrapper {
    width: 49%; }
  /*
	##########################################################
	################### LINE-UP SECTION ######################
	##########################################################
	*/
  /*
	##########################################################
	################### TICKET SECTION #######################
	##########################################################
	*/
  .ticketButton,
  .ticketInfo,
  .ticketContact {
    width: 55%;
    margin-bottom: 40px; }
  /*
	##########################################################
	#################### APPLY SECTION #######################
	##########################################################
	*/
  .applyLink {
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto; }
  .applyLink::after {
    content: '';
    z-index: -1; }
  .applyBubble {
    background: #ff0099;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 0.875rem;
    text-align: center; }
    .applyBubble p {
      font-size: 0.875rem;
      line-height: 1;
      color: #fff; }
  .bubblePosition {
    bottom: 0;
    height: 6em;
    left: 105%;
    height: inherit; }
  .applyLink:hover .applyBubble {
    position: absolute;
    visibility: visible;
    display: flex;
    opacity: 1;
    width: 45.5%;
    align-items: center; }
    .applyLink:hover .applyBubble p {
      margin: 0 auto; }
  .applyBubble::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    color: #fff;
    border: 20px solid transparent;
    border-right-color: #ff0099;
    border-left: 0;
    margin-top: -20px;
    margin-left: -20px;
    transition: opacity all 0.3s ease-in-out; }
  /*
	##########################################################
	#################### MEDIA SECTION #######################
	##########################################################
	*/
  .mediaVideoDiv {
    flex-direction: row; }
  .vimeoVideo {
    width: 49%; }
  .scheduleVid {
    width: 100%; }
  /*
	##########################################################
	##################### FAQ SECTION ########################
	##########################################################
	*/
  #faqSection .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #faqSection .row .column {
      width: 48%;
      padding: 0; }
  /*
	##########################################################
	################### SPONSOR SECTION ######################
	##########################################################
	*/
  #sponsorSection .sectionBody {
    justify-content: space-between; }
  .sponsorFlex {
    min-height: 30vh;
    padding: 2.5% 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline; }
    .sponsorFlex a {
      margin: 10px; }
  .sponsorImg {
    max-width: 100%; }
  .sponsorP {
    bottom: 0; }
  /*
	##########################################################
	######################## FOOTER ##########################
	##########################################################
	*/
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    height: 5em;
    left: 200px;
    padding: 30px;
    width: auto;
    margin-bottom: 5px;
    margin-left: 200px; }
  .footThing {
    padding: 5px;
    text-align: center;
    width: auto;
    font-size: 0.875rem;
    line-height: 1; }
  /*
	##########################################################
	##################### APPLY PAGES ########################
	##########################################################
	*/
  section.applyPage {
    margin: 1.5rem 3rem 0; }
  /*
	##########################################################
	#################### ARCHIVE PAGES #######################
	##########################################################
	*/
  .archiveBody {
    margin: 1.5rem 3rem 0; }
    .archiveBody .archive-line-up .innerFlex {
      flex-direction: row;
      justify-content: space-between; }
  .archiveHeader {
    flex-direction: row; } }
