/* ------ SASS VARIABLES ------ */
/* ------ theme colors ------ */
$blue: #00d0ff;
$pink: #ff0099;
$green: #00dd73;
$yellow: #ffcc00;

/* ------ fonts ------ */
$primary-font: 'Roboto', Arial, sans-serif;
$secondary-font: 'Roboto', Arial, sans-serif;

/* DESIGN ELEMENTS */

/* standard black border */
$borders: 2px solid black;

/* largest font, non-header */
$font-size-f1: 30px; /* currently: navLinks, sectionHeaders, ticketsLink, applyLinks */
$font-size-f2: 24px; /* currently: aboutSubDiv -> use for subheaders*/
$font-size-f3: 18px; /* currently: lineUpProgram (SUBsubheader), social media icons */


/* ------ MAIN STYLES ------ */
body, html {
	height: 100%;
}

body {
	position: relative;
}

/* custom scrollbar */
::-webkit-scrollbar {
	display: block;
  -webkit-appearance: none;
  width: .8em;
	border-left: $borders;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  outline: $borders;
}

/* ------ BODY TEXT STYLES ------ */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #000000;
	font-family: $primary-font;
	margin-bottom: 0;
	text-transform: uppercase;
  font-weight: bold;
}

p, li {
	color: #000000;
	font-family: $secondary-font;
	margin-bottom: 0;
	font-size: 14px;
	clear: both;
}

a {
	font-family: $primary-font;
	color: $pink;
	cursor: pointer;
  font-weight: bold;
}

a:hover {
	color: $yellow;
	text-decoration: none;
}

.underline {
	text-decoration: underline;
}

 /* ------ SPACERS / UNIVERSAL SECTION STYLES ------ */
.spacer {
	display: block;
	min-height: 100%;
	margin: 0 0 0 200px;
	/*matches width of navbar*/
	padding: 0;
	position: relative;
	border-bottom: $borders;
}

div.row {
	width: 100%;
	margin: 0;
}

.sectionHeader, .sectionSubH {
	font-family: $primary-font;
	border-bottom: $borders;
  font-weight: 700;
}

.container-fluid.sectionHeader {
	font-size: 30px;
	line-height: 30px;
	height: 40px;
	padding: 0;
	margin: 0 0 10px 0;
}

span.sectionHeader {
	float: left;
}

.sectionSubH {
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.sectionBody p {
	margin-bottom: 0;
}

.container-fluid.sectionBody {
	position: relative;
	vertical-align: middle;
	padding: 0;
}

#aboutSection, #mediaSection, #ticketsSection, #sponsorSection, #line-upSection, #applySection, #faqSection {
	padding: 10px 20px;
	border-bottom: $borders;
}

#aboutSection, #mediaSection {
	background-color: $yellow;
}

#applySection {
	background-color: $blue;
}

#ticketsSection {
	background-color: $green;
}

#faqSection, #sponsorSection {
	background-color: white;
}

#line-upSection {
	background-color: $pink;
}

#tagline {
	text-align: center;
	margin-top: 10px;
	color: black;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
}

#subTag {
	text-align: center;
	padding-bottom: 10px;
	font-style: italic;
}

/* //////////// NAVBAR //////////// */
.main-nav {
	width: 200px;
	height: 100%;
	background-color: white;
	position: fixed;
	border-right: $borders;
}

.navLogo {
	text-align: center;
	width: 170px;
	margin: 10px 0 0 15px;
}

.main-nav > a.active {
	color: $pink;
}

.navLink {
	width: 177px;
}

.navLink {
	font-family: $primary-font;
	font-size: 30px;
	color: #000000;
	margin: 0 0 8px 18px;
	padding: 0;
	text-transform: uppercase;
	float: left;
	line-height: 1.1;
}

.headerText {
	color: #000000;
	float: left;
}

.smicons {
	float: left;
	padding: 0 20px;
}

.sm-icons {
	font-size: 18px;
	color: #000000;
	vertical-align: middle;
	padding-right: 5px;
}

.main-nav a:hover, .sm-icons:hover {
	text-decoration: none;
	color: $yellow;
}

/* //////////// HOME SECTION W/ SWIPER //////////// */
#homeSection {
	height: 100%;
}

#homeLogo {
	width: 800px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -160px;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

div.swiper-button-next {
	background-image: url("/images/next_white.svg");
}

div.swiper-button-prev {
	background-image: url("/images/prev_white.svg");
}

.slideText {
	font-family: $secondary-font;
	font-weight: 200;
	font-size: 14px;
	color: #ffffff;
	opacity: 2;
	margin: 0;
	line-height: 22px;
	padding: 1px 5px 0 5px;
}

.slideTextBox {
	right: 0;
	margin-right: 20px;
	bottom: 50px;
	position: absolute;
	max-width: 600px;
	min-height: 24px;
	max-height: 48px;
}

.A {
	background-color: $yellow;
	/* fallback */
	background-color: rgba(255, 204, 0, .5);
}

.B {
	background-color: $blue;
	/* fallback */
	background-color: rgba(0, 208, 255, .5);
}

.C {
	background-color: $pink;
	/* fallback */
	background-color: rgba(255, 0, 153, .5)
}

span.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #696969;
}

/* //////////// INFO BOX / GOOD FOR COMING SOON, ETC //////////// */
div.infoBox {
	text-align: center;
	height: 90vh;
}

.infoBox>h2 {
	padding-top: 300px;
}

/* //////////// LINE-UP SECTION //////////// */
hr {
	border-top: $borders;
}

.lineUpBodyFirst, .lineUpBody, .lineUpBodyLast {
	background-color: white;
	padding: 15px 15px;
	text-align: center;
	line-height: 14px;
}

.lineUpBodyFirst {
	border-right: 10px solid  $pink;
}

.lineUpBodyLast {
	border-left: 10px solid  $pink;
}

.artistCo {
	font-size: 16px;
  font-family: $secondary-font;
	font-weight: bold;
	text-transform: uppercase;

}
.artistCo a {
  color: #000000;
}
.artistCo a:hover {
	color: $blue;
}

.lineUpProgram {
	font: $secondary-font;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
}

.lineUpTitle {
	text-transform: uppercase;
	font-size: 12px;
	transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
  white-space: nowrap;
  position: absolute;
	left: 6px;
	height: 15px;
	padding: 0;
	letter-spacing: 10px;
	bottom: 50%;
}

.lineUpCS {
	text-align: center;
	position: relative;
	top: 50%;
	min-height: 300px;
	width: 100%;
}

/* //////////// TICKET PAGE //////////// */
.ticketButton {
	height: 180px;
	display: block;
	width: 60vw;
	font-size: 30px;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 140px;
	background-color: $blue;
	border: 20px dotted $yellow;
	border-width: 20px;
	margin-right: auto;
	margin-left: auto;
	text-transform: uppercase;
}

.ticketClick {
	font-family: $primary-font;
	display: block;
	background-color: #ffffff;
	font-size: 2rem;
	height: 140px;
	text-align: center;
}

.ticketButton:hover {
	background-color: $pink;
}

.ticketInfo {
	width: 600px;
  background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
	height: 185px;
	border: $borders;
	padding: 20px;
}

/* //////////// APPLICATION PAGES //////////// */
section.applyPage {
	margin: 20px;
}

span.oi {
	color: black;
}

a.backSite {
	font-family: $primary-font;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 20px;
	display: block;
}

img#applyLogo {
	width: 40%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.applyTitle {
	text-align: center;
	text-decoration: underline;
}

.applyLink {
	height: 28vh;
	display: block;
	width: 60vw;
	font-size: 30px;
	text-align: center;
	/* flex-direction: column;*/
	align-items: center;
	/* justify-content: center;*/
	line-height: 23vh;
	background-color: #ffffff;
	border: 20px solid $pink;
	border-width: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.applyLink:hover, .applyLink p:hover {
	border-color: $yellow;
	color: $yellow;
}

/* //////////// SPONSOR SECTION //////////// */
.sponsorBox {
	display: block;
	position: relative;
}

.sponsorImg {
	margin: 20px;
	max-height: 200px;
	;
}

.sponsorP {
	position: absolute;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

/* //////////// FOOTER //////////// */
.footer {
	height: 60px;
	margin-left: 220px;
	margin-right: 20px;
	text-align: center;
}

p.footStuff {
	padding-top: 18px;
}

.footStuff a {
	color: #000000;
}

.footStuff a:hover {
	color: $pink;
}


/* //////////// IFRAMES (embeded media) //////////// */
.embed-container {
	padding-top: 15px;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

iframe#map {
	max-width: 450px;
	height: 350px;
	display: block;
	margin: 0 auto;
}

#aboutSubDiv p {
	font-family: $primary-font;
	font-size: 24px;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
  font-weight: bold;
}

#aboutSubDiv {
	margin: 0;
	padding: 10px 0;
	border-bottom: $borders;
}

.artistInterview {
	width: 500px;
	height: 281px;
	margin-right: 10px;
}

.videocol {
	text-align: center;
	padding: 0;
}

/*//////////// OTHER DEVICES //////////// */
@media screen and (max-width: 991px) {
/*//////////// MOBILE HOMELOGO //////////// */
	#homeLogo {
		width: 600px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left:-300px;
		margin-top: -100px;
	}

	/*//////////// MOBILE LINE-UP //////////// */
	.lineUpBodyFirst, .lineUpBody, .lineUpBodyLast {
		padding: 15px 40px;
	}

	.lineUpBodyFirst, .lineUpBodyLast {
		border: none;
	}
	.lineUpBody, .lineUpBodyLast {
		margin-top: 10px;
	}

	/*//////////// MOBILE TICKETS //////////// */
		.ticketInfo {
			width: 100%;
			height: 100%;
			padding-bottom: 0;
		}

		.ticketClick {
			display: block;
			font-size: 20px;
			height: 140px;
		}

	/*//////////// MOBILE SPONSOR SECTION //////////// */
	.sponsorP {
		position: relative;
	}
 }

 @media screen and (max-width: 768px) {
/*//////////// MOBILE BODY TEXT STYLES //////////// */
p, li {
 font-size: 12px;
 color: black;
 font-family: $secondary-font;
}

ul {
 padding-left: 15px;
}

/*//////////// MOBILE BURGER NAV //////////// */
 	#menu {
 		font-family: $primary-font;
 		width: 100px;
 		padding: 0 5px;
 		display: block;
 		background: #ffffff;
 		font-size: 1.35em;
 		text-align: left;
 		margin: 0;
 		position: fixed;
 		z-index: 200;
 		height: 32px;
 		cursor: pointer;
 	}

 	#menuText {
 		padding-left: 5px;
 	}

 	#menuText:hover {
 		color: $green;
 	}

 	.navLogo {
 		display: none;
 	}

 	.main-nav.js {
 		display: none;
 		z-index: 200;
 		height: 160px;
 		width: 100px;
 		margin: 32px 0 0 0;
 		padding: 0px;
 		background-color: #ffffff;
 		background-color: rgba(255, 255, 255, .7);
 		border: none;
 	}

 	.main-nav > .navLink {
 		font-family: $primary-font;
 		font-size: 15px;
 		color: black;
 		margin: 0;
 		padding: 0;
 		text-transform: uppercase;
 		text-align: center;
 		line-height: 1.1;
 		width: 100%;
 	}

 	a.navLink.active {
 		background-color: $yellow;
 		background-color: rgb(255, 204, 0);
 	}

 	.navLink:hover {
 		background-color: $pink;
 		background-color: rgb(255, 0, 153);
 	}

	.main-nav a:hover {
		text-decoration: none;
		color: $blue;
	}

	div.smicons.container {
 		text-align: center;
 		padding: 0;
 		height: 20px;
 	}

 	.sm-icons {
 		padding: 0;
 		top: 0;
 	}

 	a.sm-icons i {
 		font-size: 16px;
 		color: black;
 		display: inline;
 		height: 20px;
 	}

 	a.sm-icons i:hover {
 		color: $pink;
 	}

	/*//////////// MOBILE SPACERS //////////// */
 	section.spacer {
 		margin: 0;
 		z-index: 0;
 	}

 	.headerText {
 		text-align: center;
 	}

 	#homeSection {
 		padding-left: 0;
 	}

 	.sectionHeader {
 		font-size: 16px;
 		text-align: center;
 	}

 	#homeSubDiv p {
 		font-size: .8rem;
 		padding-top: 50px;
 	}

 	#homeLogo {
 		width: 300px;
 		position: absolute;
 		left: 50%;
 		top: 50%;
 		margin-left: -150px;
 		margin-top: -50px;
 	}

 	.artistInterview {
 		width: 300px;
 		height: 169px;
 	}

	/*//////////// MOBILE APPLY SECTION //////////// */
	.applyLink {
		height: 28vh;
		display: flex;
		max-width: 60vw;
		font-size: 20px;
		text-align: center;
		line-height: 20px;
		justify-content: center;
		border: 20px solid $green;
	}

/*//////////// MOBILE IFRAMES //////////// */
	div#player {
		width: 50%;
	}

 	iframe#map {
 		max-width: 100%;
 		height: 200px;
 	}

 	.artistInterview {
 		width: 355px;
 	}

	/*//////////// MOBILE SPONSOR SECTION //////////// */
	.sponsorImg {
 		display: block;
 		margin-left: auto;
 		margin-right: auto;
 		max-height: 120px;
 	}

	/*//////////// MOBILE FOOTER //////////// */
 	.footer {
 		margin-left: 0px;

 	}

	.footStuff {
		font-size: 10px;
	}

 }

 @media screen and (min-width: 768px) {
 	#menu {
 		display: none;
 	}
 	#text {
 		top: 0;
 	}
 }
