body, html {
	height: 100%;
}

body {
	position: relative;
}

/* //////////// Basic Styles //////////// */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color: #000000;
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0;
	text-transform: uppercase;
}

p, li {
	color: #000000;
	font-family: 'Helvetica', sans-serif;
	margin-bottom: 0;
	font-size: 14px;
	clear: both;
}

a {
	font-family: 'Raleway', sans-serif;
	color: #ff0099;
	cursor: pointer;
}

a:hover {
	color: #ffcc00;
	text-decoration: none;
}

.underline {
	text-decoration: underline;
}

/* Theme colors for reference: blue = #00d0ff / pink = #ff0099 / green = #00dd73 / yellow =  #ffcc00 */

/* //////////// Main Nav //////////// */

.main-nav {
	width: 200px;
	height: 100%;
	background-color: white;
	position: fixed;
}

.navLogo {
	text-align: center;
	width: 170px;
	margin: 10px 0 0 15px;
}

.main-nav>a.active {
	color: #ff0099;
}

.navLink {
	width: 177px;
}

.navLink {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color: black;
	margin: 0 0 8px 18px;
	padding: 0;
	text-transform: uppercase;
	float: left;
	line-height: 1.1;
}

.headerText {
	color: #000000;
}

/* //////////// Social Media Icons //////////// */

.smicons {
	float: left;
	padding: 0 20px;
	/* equals same as navLink left spacing*/
}

#sm-icons {
	font-size: 18px;
	color: black;
	vertical-align: middle;
	padding-right: 5px;
}

.main-nav a:hover, #sm-icons:hover {
	text-decoration: none;
	color: #ffcc00;
}

/* //////////// END of Main Nav //////////// */

/* //////////// PHOTO SWIPER //////////// */

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

div.swiper-button-next {
	background-image: url("/images/next_white.svg");
}

div.swiper-button-prev {
	background-image: url("/images/prev_white.svg");
}

.slideText {
	font-family: Helvetica, sans-serif;
	font-weight: 200;
	font-size: 14px;
	color: #ffffff;
	opacity: 2;
	margin: 0;
	line-height: 22px;
	padding: 1px 5px 0 5px;
}

.slideTextBox {
	right: 0;
	margin-right: 20px;
	bottom: 50px;
	position: absolute;
	max-width: 600px;
	min-height: 24px;
	max-height: 48px;
}

.A {
	background-color: #FFCC00;
	/* fallback */
	background-color: rgba(255, 204, 0, .5);
}

.B {
	background-color: #00D0FF;
	/* fallback */
	background-color: rgba(0, 208, 255, .5);
}

.C {
	background-color: #FF0099;
	/* fallback */
	background-color: rgba(255, 0, 153, .5)
}

span.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 100%;
	background: #696969;
}

/* //////////// SECTIONS OR SPACERS //////////// */

#homeSection {
	height: 100%;
	left: 200px;
	/* needs own padding because no text */
}

.spacer {
	display: block;
	min-height: 100%;
	padding: 0 0 0 200px;
	/*matches width of navbar + standard padding*/
	margin: 0;
}

div.row {
	width: 100%;
	margin: 0;
}

.sectionHeader, .sectionSubH {
	font-family: 'Raleway', sans-serif;
	color: none;
	border-bottom: 2px solid black;
}

.container-fluid.sectionHeader {
	font-size: 30px;
	line-height: 30px;
	height: 40px;
	padding: 0;
	margin: 0 0 10px 0;
}

span.sectionHeader {
	float: left;
}

.sectionSubH {
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.sectionBody p {
	margin-bottom: 0;
}

.container-fluid.sectionBody {
	position: relative;
	vertical-align: middle;
	padding: 0;
}

#aboutSection, #mediaSection, #ticketsSection, #sponsorSection, #line-upSection, #applySection, #faqSection {
	border-style: solid;
	border-width: 10px 20px;
}

#aboutSection, #mediaSection {
	background-color: #ffcc00;
	border-color: #ffcc00;
}

#applySection {
	background-color: #00d0ff;
	border-color: #00d0ff;
}

#ticketsSection {
	background-color: #00dd73;
	border-color: #00dd73;
}

#line-upSection, #faqSection, #sponsorSection {
	border-color: #ffffff;
	background-color: white;
}

#tagline {
	text-align: center;
	margin-top: 10px;
	color: black;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
}

#subTag {
	text-align: center;
	padding-bottom: 10px;
	font-style: italic;
}

.applyLink {
	height: 28vh;
	display: block;
	width: 60vw;
	font-size: 30px;
	text-align: center;
	/* flex-direction: column;*/
	align-items: center;
	/* justify-content: center;*/
	line-height: 23vh;
	background-color: #ffffff;
	border: 20px solid #ff0099;
	border-width: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.applyLink:hover, .applyLink p:hover {
	border-color: #ffcc00;
	color: #ffcc00;
}

div.comingSoonBox {
	text-align: center;
	height: 90vh;
}

.comingSoonBox>h2 {
	padding-top: 300px;
}

.lineUpBody {
	vertical-align: middle;
	text-align: center;
}

.sponsorImg {
	margin: 20px;
	max-height: 200px;
	;
}

.sponsorP {
	margin-left: auto;
	margin-right: auto;
}

/* //////////// APPLICATION PAGES //////////// */

section.applyPage {
	margin: 20px;
}

span.oi {
	color: black;
}

a.backSite {
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 20px;
	display: block;
}

img#applyLogo {
	width: 40%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.applyTitle {
	text-align: center;
	text-decoration: underline;
}

.footer {
	height: 60px;
	margin-left: 220px;
	margin-right: 20px;
	text-align: center;
	border-top: 2px solid black;
}

p.footStuff {
	padding-top: 18px;
}

.footStuff a {
	color: black;
}

.footStuff a:hover {
	color: #ff0099;
}


/* //////////// IFRAMES (embeded media) //////////// */

.embed-container {
	padding-top: 15px;
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

iframe#map {
	max-width: 400px;
	height: 350px;
	display: block;
	margin: 0 auto;
}

#homeLogo {
	width: 800px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -160px;
}

#aboutSubDiv p {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	text-align: center;
	color: black;
	text-transform: uppercase;
}

#aboutSubDiv {
	margin: 0;
	padding: 10px 0;
	border-bottom: 2px solid black;
}

.artistInterview {
	width: 500px;
	height: 281px;
	margin-right: 10px;
}

.videocol {
	text-align: center;
	padding: 0;
}

/*//////////// OTHER DEVICES //////////// */

@media screen and (max-width: 768px) {
	#menu {
		font-family: 'Raleway', sans-serif;
		width: 100px;
		padding: 0 5px;
		display: block;
		background: #ffffff;
		font-size: 1.35em;
		text-align: left;
		margin: 0;
		position: fixed;
		z-index: 200;
		height: 32px;
		cursor: pointer;
	}
	#menuText {
		padding-left: 5px;
	}
	#menuText:hover {
		color: #00dd73;
	}
	.navLogo {
		display: none;
	}
	.main-nav.js {
		display: none;
		z-index: 200;
		height: 160px;
		width: 100px;
		margin: 32px 0 0 0;
		padding: 0px;
		background-color: #FFFFFF;
		background-color: rgba(255, 255, 255, .7);
	}
	.main-nav>.navLink {
		font-family: 'Raleway', sans-serif;
		font-size: 15px;
		color: black;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		text-align: center;
		line-height: 1.1;
		width: 100%;
	}
	a.navLink.active {
		background-color: #FFCC00;
		background-color: rgb(255, 204, 0);
	}
	.navLink:hover {
		background-color: #FF0099;
		background-color: rgb(255, 0, 153);
	}
	section.spacer {
		padding-left: 0;
		z-index: 0;
	}
	#homeSection {
		padding-left: 0;
	}
	.main-nav a:hover {
		text-decoration: none;
		color: #00d0ff;
	}
	div.smicons.container {
		text-align: center;
		padding: 0;
		height: 20px;
	}
	#sm-icons {
		padding: 0;
		top: 0;
	}
	a#sm-icons i {
		font-size: 16px;
		color: black;
		display: inline;
		height: 20px;
	}
	a#sm-icons i:hover {
		color: #ff0099;
	}
	.sectionHeader {
		font-size: 16px;
		text-align: center;
	}
	p, li {
		font-size: 12px;
		color: black;
		font-family: Arial, sans-serif;
	}
	ul {
		padding-left: 15px;
	}
	#homeSubDiv p {
		font-size: .8rem;
		padding-top: 50px;
	}
	#homeLogo {
		width: 300px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -150px;
		margin-top: -60px;
	}
	.artistInterview {
		width: 300px;
		height: 169px;
	}
	iframe#map {
		width: 100%;
		height: 200px;
	}
	.artistInterview {
		width: 355px;
	}
	.applyLink {
		height: 28vh;
		display: flex;
		width: 60vw;
		font-size: 20px;
		text-align: center;
		line-height: 20px;
		/* flex-direction: column;*/
		align-items: center;
		/* justify-content: center;*/
		border: 20px solid #00dd73;
	}
	.footer {
		margin-left: 0px;
	}
	.sponsorImg {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-height: 120px;

	}
}

@media screen and (min-width: 768px) {
	#menu {
		display: none;
	}
	#text {
		top: 0;
	}
}
