/*
##########################################################
#################### BASE STYLES #########################
##########################################################
*/
/* ------ theme colors ------ */
/* ------ fonts ------ */
/*optional setting */
/* ------ global font sizes ------ */
/* ------ global border ------ */
/* padding and borders forced inside container */
* {
  box-sizing: border-box; }

/* This keeps sections stacked properly, swiper disappears otherwise */
body, html {
  height: 100%; }

body {
  position: relative; }

/* ------ custom scrollbar ------ */
::-webkit-scrollbar {
  display: block;
  -webkit-appearance: none;
  width: 0.875rem;
  /* harmoniously matches font-size */
  border-left: 2px solid black; }

::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 2px solid black; }

/* ------ body text styles ------ */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold; }

/* an invisible line used for keeping space between hr and h1-h6 consistent */
.text-spacer {
  border-top: none; }

hr {
  border-top: 2px solid black; }

p, li {
  color: #000;
  font-family: "Roboto", Arial, sans-serif;
  margin-bottom: 0;
  font-size: 0.875rem;
  clear: both; }

a {
  font-family: "Roboto", Arial, sans-serif;
  color: #ff0099;
  cursor: pointer;
  font-weight: bold; }

a:hover {
  color: #ffcc00;
  text-decoration: none; }

.underline {
  text-decoration: underline; }

/* ------ spacer colors ------ */
#aboutSection, #mediaSection {
  background-color: #ffcc00; }

#applySection {
  background-color: #00d0ff; }

#ticketsSection {
  background-color: #00dd73; }

#faqSection, #sponsorSection {
  background-color: #fff; }

#line-upSection {
  background-color: #ff0099; }

#homeSection {
  margin-left: 0;
  /* ------ 48px = height of mobile menu(50px) -2px to accomodate border ------ */
  height: calc(100vh - 48px); }

/* ------ spacer layout/styles ------ */
.spacer {
  border-top: 2px solid black;
  min-height: 100vh;
  padding: 30px; }

/* ------ mostly for line-up columns to help align with spacer padding and hr's
------*/
div.row {
  margin: 0; }

/*
##########################################################
#################### NAVIGATION ##########################
##########################################################
*/
#menu {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  display: block;
  position: fixed;
  background: #fff;
  bottom: 0;
  height: 50px;
  z-index: 200;
  border-top: 2px solid black;
  text-align: center;
  padding: 4px; }

#menuText {
  padding: 0 0 2px 5px;
  color: #000;
  vertical-align: middle; }

#menuText:hover {
  color: #00d0ff; }

/* ------ prevents glitchy nav, keeps invisible during load instead of load, see
then hide ------ */
.main-nav,
.main-nav.smallScreen {
  display: none; }

.main-nav.smallScreen {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8); }

.nav-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 45px;
  width: 100%;
  height: 100%; }

.navLink {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  border: 3px solid #fff; }

.navLogo {
  display: none;
  /* ------ only visible on larger screens ------ */ }

div.smicons.container {
  text-align: center;
  vertical-align: middle; }

.smicons {
  display: inline-block;
  bottom: 40px;
  padding: 0;
  height: 60px; }

.sm-icons {
  font-size: 1.875rem;
  color: #fff;
  display: inline-block;
  padding-right: 10px; }

.navLink:hover,
.sm-icons:hover,
.navLink.active:hover {
  color: #ffcc00; }

.navLink.active {
  color: #ffcc00;
  border-color: #ffcc00; }

/* ------ menuIcon initial styles (black) ------ */
.fa-circle {
  color: #000;
  padding-top: 5px;
  /* ------ eyballed to match size of menu text ------ */ }

.menuLight {
  color: #ffcc00; }

/*
##########################################################
##################### HOME SECTION #######################
##########################################################
*/
#homeLogo {
  width: 300px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -50px; }

/* ------ SWIPER Styles ------ */
.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

div.swiper-button-next {
  background-image: url("/images/next_white.svg"); }

div.swiper-button-prev {
  background-image: url("/images/prev_white.svg"); }

.slideTextBox {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 200;
  font-size: 0.875rem;
  color: #fff;
  right: 20px;
  padding: 5px;
  bottom: 50px;
  position: absolute;
  max-width: 100%;
  min-height: 1.5rem;
  max-height: 3rem; }

span.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #00dd73; }

.A {
  background-color: #ffcc00;
  /* Fallback */
  background-color: rgba(255, 204, 0, 0.5); }

.B {
  background-color: #00d0ff;
  /* Fallback */
  background-color: rgba(0, 208, 255, 0.5); }

.C {
  background-color: #ff0099;
  /* Fallback */
  background-color: rgba(255, 0, 153, 0.5); }

/*
##########################################################
################### LINE-UP SECTION ######################
##########################################################
*/
.line-upFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.line-upItem {
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid black;
  padding: 20px;
  text-align: center; }

.artistCo {
  font-size: 1rem;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

.artistCo a {
  color: #000; }

.artistCo a:hover {
  color: #00d0ff; }

.lineUpProgram {
  font: "Roboto", Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #000; }

/*coming soon div*/
.lineUpCS {
  text-align: center;
  position: relative;
  top: 50%;
  min-height: 300px;
  width: 100%; }

/*
##########################################################
################### TICKET SECTION #######################
##########################################################
*/
.ticketButton {
  height: 100%;
  width: 100%;
  display: table;
  font-size: 1.875rem;
  text-align: center;
  line-height: 1.5;
  background-color: #00d0ff;
  border: 20px dotted #ffcc00;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  padding: 0; }

.ticketClick {
  font-family: "Roboto", Arial, sans-serif;
  display: table-cell;
  vertical-align: middle;
  background-color: #fff;
  font-size: 2rem;
  height: 100%;
  padding: 20px; }

.ticketButton:hover {
  background-color: #ff0099; }

.ticketInfo {
  width: 100%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  padding: 10px 40px; }

.ticketInfo ul {
  padding: 0;
  margin: 0; }

/*
##########################################################
#################### APPLY SECTION #######################
##########################################################
*/
.applyFlex {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 90vh;
  /* ------ smaller height looks better for links/buttons ------ */ }

.applyLink {
  text-transform: uppercase;
  width: 100%;
  padding: 40px 10px;
  /* ------ helps vertically align links ------ */
  background-color: #fff;
  border: 20px solid #ff0099;
  font-size: 1.5rem; }

.applyLink:hover {
  border-color: #ffcc00;
  color: #ffcc00; }

/*
##########################################################
#################### MEDIA SECTION #######################
##########################################################
*/
.mediaFlex {
  display: flex;
  flex-direction: column; }

.posterBox {
  margin: 20px 0;
  border: 2px solid black;
  height: 362px;
  background-color: #ccc; }

.posterBox h2 {
  width: 100%; }

.posterBox .interview {
  display: block;
  position: relative;
  top: 45%; }

.posterBox img {
  display: block;
  padding: 20px;
  height: 300px;
  text-align: center;
  margin: auto; }

/*

/*
##########################################################
###################### FAQ SECTION #######################
##########################################################
*/
#faqSection .col-lg-6 {
  padding: 0; }

iframe#map {
  max-width: 100%;
  height: 350px;
  display: block;
  margin: 0 auto; }

/* ------ IFRAMES (embeded media) ------ */
.embed-container {
  padding-top: 15px;
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }

/* ------ VIMEO ------ */
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

/*
##########################################################
################### SPONSOR SECTION ######################
##########################################################
*/
.sponsorBox {
  display: grid;
  position: relative;
  text-align: center; }

.sponsorImg {
  margin: 20px;
  max-width: 200px; }

.sponsorP {
  text-align: justify;
  position: relative; }

/*
##########################################################
######################## FOOTER ##########################
##########################################################
*/
.footer {
  width: 100%;
  position: relative;
  clear: both;
  height: 90px;
  /* ------ double the menu height-ish ------ */
  border-top: 2px solid black; }

.footStuff {
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center; }

.footThing {
  display: inline-block;
  padding: 0 5px;
  font-size: 10px;
  line-height: 42px;
  /* ------ half of footer height ------ */ }

.footThing a {
  color: #000; }

.footThing a:hover {
  color: #ff0099; }

/*
##########################################################
##################### APPLY PAGES ########################
##########################################################
*/
section.applyPage {
  margin: 20px; }

span.oi {
  color: #000; }

a.backSite {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 20px;
  display: block; }

img#applyLogo {
  width: 40%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.applyTitle {
  text-align: center;
  text-decoration: underline; }

/*
##########################################################
#################### LARGER SCREENS ######################
##########################################################
*/
@media (min-width: 769px) {
  /* ------ hide mobile navigation menu ------ */
  #menu {
    display: none; }
  /* ------ accomodate left navigation bar ------ */
  .main-section {
    margin-left: 200px; }
  /* ------ more space ------ */
  .spacer {
    padding: 30px 40px; }
  /*
	##########################################################
	#################### NAVIGATION ##########################
	##########################################################
	*/
  .nav-wrap {
    height: 50vh;
    padding: 5px; }
  img.navLogo {
    display: block;
    width: 90%;
    margin: 10px 5px 0 10px; }
  .main-nav {
    display: block;
    position: fixed;
    width: 200px;
    height: 100%;
    z-index: 2000;
    background-color: #fff;
    position: fixed;
    border-right: 2px solid black; }
  .navLink {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.875rem;
    color: #000;
    width: 200px;
    margin: 0;
    text-align: left;
    border: none;
    padding: 0 10px 10px 10px;
    text-transform: uppercase;
    line-height: 1.1; }
  .navLink.active {
    color: #ff0099;
    border: none; }
  .smicons.container {
    display: inline-block;
    padding: 0 10px; }
  .sm-icons {
    color: #000;
    float: left;
    font-size: 1.5rem; }
  .navLink:hover, .sm-icons:hover {
    text-decoration: none;
    color: #ffcc00; }
  /*
	##########################################################
	##################### HOME SECTION #######################
	##########################################################
	*/
  #homeLogo {
    width: 600px;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -150px; }
  #homeSection {
    height: 100vh; }
  /*
	##########################################################
	################### SPONSOR SECTION ######################
	##########################################################
	*/
  .sponsorBox {
    display: table; }
    .sponsorBox a {
      display: inline;
      margin-right: 10px;
      float: left;
      min-height: 100px; }
  /*
	##########################################################
	######################## FOOTER ##########################
	##########################################################
	*/
  .footer {
    display: block;
    height: 42px;
    width: 100%; }
  .footStuff {
    margin-left: 200px; }
  .footThing {
    font-size: 0.875rem;
    padding: 0 20px;
    margin-right: 10px; } }

/* ------ SPACERS / UNIVERSAL SECTION STYLES ------ */
/* mostly for line-up columns, keeps them aligned with spacer margins */
/* //////////// HOME SECTION W/ SWIPER //////////// */
/* //////////// INFO BOX / GOOD FOR COMING SOON, ETC //////////// */
div.infoBox {
  text-align: center;
  height: 90vh; }

.infoBox > h2 {
  padding-top: 300px; }

#aboutSubDiv p {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: bold; }

#aboutSubDiv {
  margin: 0;
  padding: 10px 0; }

.artistInterview {
  width: 500px;
  height: 281px;
  margin-right: 10px; }

.videocol {
  text-align: center;
  padding: 0; }
